# Transformers
transformers[sentencepiece]
datasets
evaluate
bitsandbytes
accelerate
scikit-learn
# LangChaing/LangGraph
langchain
langchain-huggingface
langchain-google-genai
langchain-quickjs
langgraph
deepagents

jupyter
